/**
 * File Name: COMP125-M2020-FinalExam
 * Author's Name: Aakriti Gupta
 * Student ID: 301103413
 * Date: August 20,2020
 * Program Description: Game's custom css Page (The Dice Roller)
 */
body
{
    background-color: lightgray;
}

#canvas
{
    background-color: white;
    border: 1px dotted black;
    border-radius: 10px;
}

#mainContent
{
    width: 640px;
    margin: 0 auto;
}